// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #E67A98; // 稍微暗一点的樱花粉
$secondary: #F0B0C0; // 稍微暗一点的浅粉
$accent: #E05E80; // 稍微暗一点的玫瑰粉

$dark: #2C1A1D;
$dark-page: #1A0F10;

$positive: #8ACDBA; // 稍微暗一点的薄荷绿
$negative: #E64C7D; // 稍微暗一点的红粉
$info: #90D7D5;
$warning: #F0A7A2;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
